<div id="code_payment">
	<article class="card">
		<div class="card-body p-5">
			<p> <%= image_tag("icons/pay-visa.png") %>
				<%= image_tag("icons/pay-visa-el.png") %>
				<%= image_tag("icons/pay-mastercard.png") %>
			<%= image_tag("icons/pay-american-ex.png") %> </p>
			<p class="alert alert-success">Some text success or error</p>
			<form role="form">
				<div class="form-group">
					<label for="username">Full name (on the card)</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username" placeholder="" required="" >
					</div>
				</div>
				<div class="form-group">
					<label for="cardNumber">Card number</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-credit-card"></i></span>
						</div>
						<input type="text" class="form-control" name="cardNumber" placeholder="">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label><span class="hidden-xs">Expiration</span> </label>
							<div class="form-inline">
								<select class="form-control" style="width:45%">
									<option>MM</option>
									<option>01 - Janiary</option>
									<option>02 - February</option>
									<option>03 - February</option>
								</select>
								<span style="width:10%; text-align: center"> / </span>
								<select class="form-control" style="width:45%">
									<option>YY</option>
									<option>2018</option>
									<option>2019</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label data-toggle="tooltip" title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
							<input class="form-control" required="" type="text">
						</div>
					</div>
				</div>
				<button class="subscribe btn btn-primary btn-block" type="button"> Confirm  </button>
			</form>
		</div>
	</article>
</div>