<header class="section-header">
    <section class="header-main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5-24 col-sm-5 col-4">
                    <div class="brand-wrap">
                        <%= image_tag('logos/logo.png', width:'205', height:'50') %>
                    </div>
                </div>
                <div class="col-lg-13-24 col-sm-12 order-3 order-lg-2">
                    <form action="#">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                                                <i class="fa fa-search"></i>
                                                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6-24 col-sm-7 col-8  order-2  order-lg-3">
                    <div class="d-flex justify-content-end">
                        <div class="widget-header">
                            <div>
                                <%= link_to 'Sign In', new_user_session_path %>
                                    <span class="dark-transp"> | </span>
                                    <%= link_to 'Register', new_user_registration_path %>
                            </div>
                        </div>
                        <a href="#" class="widget-header border-left pl-3 ml-3">
                            <div class="icontext">
                                <div class="icon-wrap icon-sm round border"><i class="fa fa-shopping-cart"></i></div>
                            </div>
                            <span class="badge badge-pill badge-danger notify">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header><br>
