%body
  %header.section-header
    %section.header-main
      .container
        .row.align-items-center
          .col-lg-5-24.col-sm-5.col-4
            .brand-wrap
              = image_tag('logos/logo.png', width:'205', height:'50')
          .col-lg-13-24.col-sm-12.order-3.order-lg-2
            %form{:action => "#"}
              .input-group.w-100
                %input.form-control{:placeholder => "Search", :style => "width:60%;", :type => "text"}/
                .input-group-append
                  %button.btn.btn-primary{:type => "submit"}
                    %i.fa.fa-search
          .col-lg-6-24.col-sm-7.col-8.order-2.order-lg-3
            %a.widget-header.border-left.pl-3.ml-3{:href => "#"}
              .icontext
                .icon-wrap.icon-sm.round.border
                  %i.fa.fa-shopping-cart
              %span.badge.badge-pill.badge-danger.notify 0
            .widget-header
              - if current_user
                %a{"data-offset" => "20,10", "data-toggle" => "dropdown", :href => "#"}
                  .icontext
                    .icon-wrap.icon-sm.round.border
                      %i.fa.fa-user
                    .text-wrap
                      %div
                        Dashboard
                        %i.fa.fa-caret-down
              - else
                = link_to 'Sign In', new_user_session_path
                %span.dark-transp
                |
                = link_to 'Register', new_user_registration_path
  %br/
