.main-content
  %section#profile
    .card.mb-8
    %header.card-header
      %h6.title User settings
      #collapse11.collapse.show
        %article.card-body
          %dl.dlist-align
            %dt Shop Name:
            %dd
              = @user.shop_name
          %dl.dlist-align
            %dt Email:
            %dd
              = @user.email
          %dl.dlist-align
            - if(@user.stripe_account_id == nil)
              %dt
                %a.btn.btn-success.light-blue{:href => "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=#{ENV['CLIENT_ID']}&scope=read_write"}
                  %span Connect with Stripe
            - else
              %dt Stripe Account Id:
              %dd
                = @user.stripe_account_id

