.main-content
  %section#profile
    .card.mb-8
    %header.card-header
      %h6.title User settings
      #collapse11.collapse.show
        %article.card-body
          %dl.dlist-align
            %dt Shop Name:
            %dd
              = @user.shop_name
          %dl.dlist-align
            %dt Email:
            %dd
              = @user.email
          %dl.dlist-align
            %dt Stripe Account Id:
            %dd
              = @user.stripe_connect_account

          - if @user.stripe_account_id.present?
            = link_to("Revoke Access", dashboard_bongloy_connect_path(@user.id), :method => "delete", :class => "btn btn-sm btn-danger mt-4")

