.main-content
  %section#profile
    .card.mb-8
    %header.card-header
      %h6.title User settings
      #collapse11.collapse.show
        %article.card-body
          %dl.dlist-align
            %dt Shop Name:
            %dd
              = @user.shop_name
          %dl.dlist-align
            %dt Email:
            %dd
              = @user.email
          %dl.dlist-align
            %dt Bongloy Account Id:
            %dd
              = @user.bongloy_connect_account

