%main.card
  .row.no-gutters
    %aside.col-sm-6.border-right
      %article.gallery-wrap
        .img-big-wrap
          %div
            - if @product.cover_product.attached?
              =link_to image_tag(@product.cover_product), dashboard_product_path(@product.id), :data => { :'fancybox' => ''}
            - else
              =link_to image_tag("https://via.placeholder.com/150"),dashboard_product_path(@product.id), :data => { :'fancybox' => ''}
    %aside.col-sm-6
      %article.card-body
        %h3.title.mb-3=@product.name
        .mb-3
          %var.price.h3.text-success
            %span.currency US $
            %span.num
              = @product.price
        %dl
          %dt Description
          %dd
            %p= @product.description
        %hr/
        %a.btn.btn-outline-primary{:href => "#"} Buy

