<div class="main-content">
	<section id="products">
	<div id="code_prod2">
		<div class="row">
			<div class="col-md-3">
				<figure class="card card-product">
					<div class="img-wrap">
						<%= image_tag('items/3.jpg') %>
						<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
					</div>
					<figcaption class="info-wrap">
					<a href="#" class="title">Good item name</a>
					<div class="action-wrap">
						<a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
						<div class="price-wrap h5">
							<span class="price-new">$1280</span>
							<del class="price-old">$1980</del>
						</div>
					</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-3">
				<figure class="card card-product">
					<div class="img-wrap"> <%= image_tag('items/4.jpg') %>
						<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
					</div>
					<figcaption class="info-wrap">
					<a href="#" class="title">The name of product</a>
					<div class="action-wrap">
						<a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
						<div class="price-wrap h5">
							<span class="price-new">$280</span>
						</div>
					</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-3">
				<figure class="card card-product">
					<div class="img-wrap"> <%= image_tag('items/5.jpg') %>
						<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
					</div>
					<figcaption class="info-wrap">
					<a href="#" class="title">Name of product</a>
					<div class="action-wrap">
						<a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
						<div class="price-wrap h5">
							<span class="price-new">$280</span>
						</div>
					</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-3">
				<figure class="card card-product">
					<div class="img-wrap"> <%= image_tag('items/6.jpg') %>
						<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
					</div>
					<figcaption class="info-wrap">
					<a href="#" class="title">The name of product</a>
					<div class="action-wrap">
						<a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
						<div class="price-wrap h5">
							<span class="price-new">$280</span>
						</div>
					</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
</div>