---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1ETM59Ggtbfq8ri4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_wt9DrL4OTAM0BAxIkpAyfGB2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "account_invalid",
            "doc_url": "https://stripe.com/docs/error-codes/account-invalid",
            "message": "The provided key 'sk_test_********************fGB2' does not have access to account 'acct_1ETM59Ggtbfq8ri4' (or that account does not exist). Application access may have been revoked.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 29 Apr 2019 04:22:06 GMT
recorded_with: VCR 4.0.0
