.row
  %main.col-sm-9
    .card
      %table.table.table-hover.shopping-cart-wrap
        %thead.text-muted
          %tr
            %th{:scope => "col"} Product
            %th{:scope => "col", :width => "120"} Quantity
            %th{:scope => "col", :width => "120"} Price
            %th.text-right{:scope => "col", :width => "200"} Action
        %tbody
          %tr
            %td
              %figure.media
                .img-wrap
                  %img.img-thumbnail.img-sm{:src => "images/items/1.jpg"}/
                %figcaption.media-body
                  %h6.title.text-truncate Product name goes here
                  %dl.dlist-inline.small
                    %dt Size:
                    %dd XXL
                  %dl.dlist-inline.small
                    %dt Color:
                    %dd Orange color
            %td
              %select.form-control
                %option 1
                %option 2
                %option 3
                %option 4
            %td
              .price-wrap
                %var.price USD 145
                %small.text-muted (USD5 each)
              / price-wrap .//
            %td.text-right
              %a.btn.btn-outline-success{"data-original-title" => "Save to Wishlist", "data-toggle" => "tooltip", :href => "", :title => ""}
                %i.fa.fa-heart
              %a.btn.btn-outline-danger{:href => ""} × Remove
  %aside.col-sm-3
    %p.alert.alert-success Add USD 5.00 of eligible items to your order to qualify for FREE Shipping.
    %dl.dlist-align
      %dt Total price:
      %dd.text-right USD 568
    %dl.dlist-align
      %dt Discount:
      %dd.text-right USD 658
    %dl.dlist-align.h4
      %dt Total:
      %dd.text-right
        %strong USD 1,650
    %hr/
    %figure.itemside.mb-3
      %aside.aside
        %img{:src => "images/icons/pay-visa.png"}/
      .text-wrap.small.text-muted
        Pay 84.78 AED ( Save 14.97 AED )
        By using ADCB Cards
    %figure.itemside.mb-3
      %aside.aside
        %img{:src => "images/icons/pay-mastercard.png"}/
      .text-wrap.small.text-muted
        Pay by MasterCard and Save 40%.
        %br/
        Lorem ipsum dolor

