#code_payment
  %article.card
    .card-body.p-5
      %p
        = image_tag("icons/pay-visa.png")
        = image_tag("icons/pay-visa-el.png")
        = image_tag("icons/pay-mastercard.png")
        = image_tag("icons/pay-american-ex.png")
      %p.alert.alert-success Some text success or error
      %form{:role => "form"}
        .form-group
          %label{:for => "username"} Full name (on the card)
          .input-group
            .input-group-prepend
              %span.input-group-text
                %i.fa.fa-user
            %input.form-control{:name => "username", :placeholder => "", :required => "", :type => "text"}/
        .form-group
          %label{:for => "cardNumber"} Card number
          .input-group
            .input-group-prepend
              %span.input-group-text
                %i.fa.fa-credit-card
            %input.form-control{:name => "cardNumber", :placeholder => "", :type => "text"}/
        .row
          .col-sm-8
            .form-group
              %label
                %span.hidden-xs Expiration
              .form-inline
                %select.form-control{:style => "width:45%"}
                  %option MM
                  %option 01 - Janiary
                  %option 02 - February
                  %option 03 - February
                %span{:style => "width:10%; text-align: center"} /
                %select.form-control{:style => "width:45%"}
                  %option YY
                  %option 2018
                  %option 2019
          .col-sm-4
            .form-group
              %label{"data-toggle" => "tooltip", :title => "3 digits code on back side of the card"}
                CVV
                %i.fa.fa-question-circle
              %input.form-control{:required => "", :type => "text"}/
        %button.subscribe.btn.btn-primary.btn-block{:type => "button"} Confirm
